@tailwind base;

h1 {
  font-size: 2rem;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

@tailwind components;

@tailwind utilities;

h1,
h2,
h3,
h4 { 
  line-height: 1;
  text-align: center;
  font-weight: 600;
}

h2, 
h3,
h4 {
  margin: 1rem 0;
}

h2 + p,
h3 + p,
h4 + p {
  margin-top: 1rem;
}

p + h2,
p + h3,
p + h4,
ul + h4 {
  margin-top: 2rem;
}

h2 + blockquote,
h3 + blockquote,
h4 + blockquote,
p + blockquote {
  margin-top: 1rem;
}

/* 
  still trying to figure out why the below styles won't work in styles.scss
  normalize is loaded via the @tailwind base above, so styles afterwards override it
  however, if styles.scss is loaded after this site.css file, normalize still wins
*/
blockquote,
blockquote p {
  color: #fff;
}

blockquote {
  position: relative;
  background: rgba(179, 86, 75, 0.5);
  border-radius: .5rem;
  margin: 2rem 0;
  padding: 6rem 1rem 1rem;
}

blockquote::before {
  content: '\201C';
  font-size: 5rem;
  font-family: 'Averia Serif Libre', sans-serif;
  position: absolute;
  top: 1rem;
  left: calc(50% - 17px);
}

.article-content cite {
  display: block;
  margin: 1rem 0;
  font-style: normal;
  text-align: right;
}

.article-content cite a {
  color: #fff;
}

.table-of-contents {
  text-align: center;
  font-weight: 600;
}

.table-of-contents + ol {
  margin: 1rem 0;
}

ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

ol > li:not(.tag) {
  padding-left: .25rem;
  margin-bottom: 1rem;
}

.page-break::after {
  display: inline-block;
  content: "";
  vertical-align: baseline;
  width: 200px;
  height: 200px;
  margin: 4rem 0;
}

.Slice3 {
  background: no-repeat center / contain white url(/img/Slice3.png);
}

.Slice1 {
  background: no-repeat center / contain white url(/img/Slice1.png);
}

.PomSketch1 {
  background: no-repeat center / contain white url(/img/PomSketch1.png);
}

.PomSketch2 {
  background: no-repeat center / contain white url(/img/PomSketch2.png);
}

.PomSketch3 {
  background: no-repeat center / contain white url(/img/PomSketch3.png);
}

.PomSketch4 {
  background: no-repeat center / contain white url(/img/PomSketch4.png);
}

@media all and (min-width: 425px) {
  blockquote {
    margin: 2rem 1rem;   
  }
}

@media all and (min-width: 768px) {
  blockquote {
    padding: 6rem 2rem 1rem;
  }

  .page-break::after {
    margin: 6rem 0;
  }
}