body  
  margin: 0;
  font-family: 'Lato', sans-serif;

// HEADER
.header
  font-family: 'Averia Serif Libre', cursive;

.mobile-nav 
  transition: max-height 0.3s ease-out;

.mobile-nav a
  display: block;
  margin: 1rem 0;

.hamburger-menu
  width: 20px;
  height: 20px;

// ARTICLES
.topics a::before
  background-image: url(/img/favicon-32.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;

.taglist 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  li 
    padding: 0 2rem 1rem 0;
.social a 
  vertical-align: text-bottom;

.social img
  display: inline;
  width: 1em;
  height: 1em;

// UTILITIES
.content  
  padding: 1.5rem;
  min-height: 50vh;

.full-width-image 
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

@media all and (min-width: 768px) 
  .navbar
    height: 75px;
