body  
  margin: 0;
  font-family: 'Lato', sans-serif;

// HEADER
.header
  font-family: 'Averia Serif Libre', sans-serif;

.mobile-nav 
  transition: max-height 0.3s ease-out;

.mobile-nav a
  display: block;
  margin: 1rem 0;

.hamburger-menu
  width: 20px;
  height: 20px;

// ARTICLES
.topics a::before
  background-image: url(/img/favicon-32.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;

.tag
  display: inline-flex;
  height: 2.25em;
  margin: 0 .5rem .5rem 0;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.375em - 1px);
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  text-align: center;
  white-space: nowrap;
  
// FOOTER
.social a 
  vertical-align: text-bottom;

.social img
  display: inline;
  width: 1em;
  height: 1em;

// UTILITIES
.main-content
    min-height: calc(100vh - 64px);

.content  
  padding: 1.5rem;

  p
    margin-bottom: 1rem;

.full-width-image 
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

@media all and (min-width: 768px) 
  .navbar
    height: 75px;

  .main-content
    min-height: calc(100vh - 75px);
