body { margin: 0; }

.section { padding: 3rem 1.5rem; }

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.content .taglist li {
  padding: 0 2rem 1rem 0;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

// Helper Classes

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.footer { padding: 3rem 0rem 0rem; }
footer .links {
  display: flex;
  flex-direction: column;
}

footer .social {
  padding: 1em;
  text-align: center;
}

footer small {
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.social { padding: 2em; }

.social a {
  padding: .5em .5em .3em;
  border-radius: 1em;
  margin: .5em;
  vertical-align: middle;
}

// blog roll
.article-list-item header {
  display: flex;
  margin-bottom: 1em;
}

.article-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0; 
}

.article-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}

@media all and (min-width: 768px) {
  footer .links {
    flex-direction: row;
    justify-content: space-around;
  }
}

